# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Database / local files
*.db
*.sqlite3

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Alembic cache
.pytest_cache/
.mypy_cache/